<footer class="footer">
    <div class="content has-text-centered has-text-grey">
        <div class="footer-copyright">
            Copyright © <%= date(Date.now(), 'YYYY' ) %> <%= config.title %> <%= theme.copyright %>
        </div>
        <div class="footer-power">
            <p>Powered by
                <a href="https://hexo.io" rel="noopener noreferrer" target="_blank" style="color: #F68B30;">Hexo</a>
            & Theme
            <a href="https://github.com/guiqiqi/chromate" rel="noopener noreferrer" target="_blank" style="color: #F68B30;">Chromate</a>.
            </p>
        </div>
    </div>
</footer>